<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>PRERONA'S PORTFOLIO</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap">
"
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <div class="container">
    <nav>
       <img class="userPic"src="/images/pic.jpg" alt="profile picture">
    
    <div class="userDetails">
        <h1>Prerona Mukherjee</h1>
        <span>Full Stack Developer</span>

    </div>
    <div class="home">
        <ion-icon name="school-outline"></ion-icon>

    </div>
    <div class="projects">
      <ion-icon name="folder-outline"></ion-icon>

    </div>
    <div class="contact">
        <ion-icon name="mail-outline"></ion-icon>

    </div>
    </nav>
    
   </div>
   <div class="education">
       <h2>EDUCATION <h2>
          <p>University of Miami- BSC in Communications<p> 
        <p>University of Chicago- Masters in Literature</p>
        <p>Northwestern University- Full Stack Development Certificate</p>
   </div>

   <div class="employment">
        <h2>WORK EXPERIENCE</h2>
       <p>Professional Theatre and Dance Youth Academy 2018-Present</p>
       <p>The Socialist 2016-17</p>
       <p>Roundglass 2016-17</p>      
   </div>

<div class="skills">
        <h2>SKILLS</h2>
       <p>Front-end React,HTML, CSS</p>
       <p>Back-end Node, Express, MySQL, MongoDB</p>
       <p>Soft skills: writing, research, strategic communications</p>      
   </div>

   <div class="social">
       <h2>CONNECT WITH ME</h2>
       <p>Github: https://github.com/preronam"</p>
       <p>LinkedIn:https://www.linkedin.com/in/prerona-mukherjee-0459b3179/ </p>
       <p>Email: prerona24@gmail.com</p>
   </div>

   <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>
</html>